<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="images">
	<!-- 한 게시글에 포함된 이미지 리스트 가져오기 -->
	<select id="idxList" parameterType="int" resultType="imagesVO">
		SELECT * FROM IMAGES
		WHERE IMAGE_IDX = #{imageIdx} 
	</select>
	
	<!-- 이미지 넣기 -->
	<insert id="insert" parameterType="ImagesVO">
		INSERT INTO IMAGES (IMAGE_IDX, IMAGE, IMAGE_PI)
		VALUES (#{imageIdx}, #{image}, #{imagePi})
	</insert>
</mapper>


