<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sports">
	
	<!-- 회원 가입 -->
	<insert id="register" parameterType="UserVO">
		INSERT INTO SPORT_USER (useridx, email, nickname, password, phone, gender, image, image_pi)
		VALUES (SEQ_USERIDX.NEXTVAL, #{email}, #{nickname}, #{password}, #{phone}, #{gender}, #{image_pi})
		<choose>
            <when test="image != null">
                #{image}
            </when>
            <otherwise>
                NULL
            </otherwise>
        </choose>
		)
	</insert>

	<!-- 이메인 중복 확인 -->
	<select id="emailDuplicateCheck" parameterType="string" resultType="boolean">
		SELECT CASE
		         WHEN EXISTS (SELECT 1 FROM SPORT_USER WHERE EMAIL = #{email}) THEN 'True'
		         ELSE 'False'
		       END AS Is_Exists
		FROM dual
	</select>
	
	<!-- 로그인 -->
	<select id="authenticateUser" parameterType="UserVO" resultType="UserVO">
	    SELECT * FROM SPORT_USER 
	    WHERE EMAIL = #{email} AND PASSWORD = #{password}
	</select>
	
	<!-- 프로필 수정 -->
	<update id="editProfile" parameterType="UserVO">
		UPDATE SPORT_USER
			SET nickname = '${nickname}', password = '${password}', phone = '${phone}'
			WHERE email = '${email}'
	</update>
	
	<!-- 유저페이지에서 유저의 자유게시글 조회 -->
	<select id="userFreeBoard" parameterType="string" resultType="BoardVO">
		SELECT * 
		FROM FREE_BBS 
		WHERE USERIDX = (
		    SELECT USERIDX 
		    FROM SPORT_USER 
		    WHERE EMAIL = '${email}'
		)
	</select>
	
	<!-- 유저의 정보를 비밀번호를 빼고 가져옴-->
	<select id="getUserInfo" parameterType="string" resultType="UserVO">
		SELECT EMAIL, NICKNAME, PHONE, GENDER, IMAGE FROM SPORT_USER
		WHERE EMAIL = '${email}'
	</select>
	
	<!--  자유게시판 전체글 조회 -->
	<select id="boardAll" resultType="BoardVO">
		SELECT * FROM FREE_BBS
	</select>
	
	<!-- 자유게시판 글 작성 -->
	<insert id="writeBoard" parameterType="BoardVO">
		INSERT INTO FREE_BBS (BBS_IDX, USERIDX, SUBJECT, CONTENT, WRITE_DATE)
		VALUES (SEQ_FREE_BBS_IDX.NEXTVAL, #{userIdx}, #{subject}, #{content}, SYSDATE)
	</insert>
	
	<!-- 자유게시판 글 1개 조회 -->
	<select id="boardOne" parameterType="int" resultType="BoardVO">
		SELECT *
		FROM FREE_BBS
		WHERE BBS_IDX = ${bbsIdx}
	</select>
	
	<!-- 자유게시판 게시글 수정 -->
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE FREE_BBS
		SET SUBJECT = '${subject}',
		    CONTENT = '${content}'
		WHERE BBS_IDX = ${bbsIdx} 
	</update>
</mapper>














