<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Res">
    <insert id="insertReservation" parameterType="com.sports.model.vo.ResVO">
       INSERT INTO FACILITY_RESERVE (RESERVE_IDX, FACILITY_IDX, USERIDX, RESERVE_DATE, RESERVE_TIME, HEAD_COUNT)
    VALUES (SEQ_RESERVE_IDX.NEXTVAL, #{facilityIdx}, #{userIdx}, #{reserveDate}, #{reserveTime}, #{headCount})
</insert>

    <!-- 예약 정보 조회 -->
    <select id="selectReservation" parameterType="int" resultType="ResVO">
        SELECT * FROM FACILITY_RESERVE WHERE RESERVE_IDX= #{reserveIdx}
    </select>
	
	<!-- 예약된 인원수 합계 조회 -->
	<select id="selectCapacity" parameterType="map" resultType="int">
	    SELECT COALESCE(SUM(HEAD_COUNT), 0) AS total_reserved
	    FROM FACILITY_RESERVE
	    WHERE FACILITY_IDX = #{facilityIdx}
	      AND RESERVE_DATE = #{reserveDate}
	      AND RESERVE_TIME = #{reserveTime}
	</select>

	
    <!-- 예약 정보 업데이트 -->
    <update id="updateReservation" parameterType="ResVO">
        UPDATE FACILITY_RESERVE
        SET facilityIdx = #{facilityIdx},
            userIdx = #{userIdx},
            reserveDate = #{reserveDate},
            reserveTime = #{reserveTime},
            headCount = #{headCount}
        WHERE reserveIdx = #{reserveIdx}
    </update>

    <!-- 예약 정보 삭제 -->
    <delete id="deleteReservation" parameterType="int">
        DELETE FROM FACILITY_RESERVE WHERE reserveIdx = #{reserveIdx}
    </delete>

</mapper>
