<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamMapper">	
	<!-- 가입팀 여부 확인 -->
	<select id="isMyTeam" parameterType="map" resultType="boolean">
		SELECT DECODE(1, (SELECT 1 FROM TEAM_MEMBER
       		WHERE TEAM_IDX = #{teamIdx }
        	AND USERIDX = #{useridx } ), 1, 0) AS TF 
		FROM DUAL
	</select>
	
	<!-- 팀 하나 가져오기 -->
	<select id="getOneTeam" parameterType="String" resultType="com.sport.joinBbs.vo.TeamVO">
		SELECT * FROM TEAMS WHERE TEAM_IDX = #{teamIdx }
	</select>

	<select id="getTotalCount" parameterType="String" resultType="int">
		SELECT COUNT(*) AS CNT FROM TEAM_BBS WHERE TEAM_IDX = #{teamIdx }
	</select>
	
	<select id="getBbsList" parameterType="map" resultType="com.sports.model.vo.TeamBbsVO">
	<![CDATA[
		SELECT  * 
		    FROM (SELECT ROWNUM AS RNUM, B.*
		        FROM (SELECT T.*, S.NICKNAME 
		        	FROM TEAM_BBS T, SPORT_USER S
					WHERE S.USERIDX = T.USERIDX
					AND T.TEAM_IDX = #{teamIdx}
					ORDER BY BBS_IDX DESC
				) B
			)
		WHERE RNUM >= #{begin } 
		    AND RNUM <= #{end }
	]]>
	</select>
	
	<select id="getOndBbs" parameterType="String" resultType="com.sports.model.vo.TeamBbsVO">
		SELECT T.*, S.NICKNAME FROM TEAM_BBS T, SPORT_USER S
		WHERE S.USERIDX = T.USERIDX
		AND T.BBS_IDX = #{bbsIdx }
	</select>
	
	<!-- 글작성 -->
	<select id="getnewBbsIdx" resultType="String">
		SELECT SEQ_TEAM_BBS_IDX.NEXTVAL FROM DUAL
	</select>
	
	<!-- 팀 게시글 올리기 -->
	<insert id="insertBbs" parameterType="com.sports.model.vo.TeamBbsVO">
	    <selectKey keyProperty="imageIdx" resultType="int" order="BEFORE" statementType="STATEMENT">
            SELECT SEQ_IMAGE_IDX.NEXTVAL FROM DUAL
        </selectKey>
		INSERT INTO TEAM_BBS (BBS_IDX, USERIDX, TEAM_IDX, SUBJECT, CONTENT, WRITE_DATE, IMAGE_IDX, HIT)
		VALUES (SEQ_TEAM_BBS_IDX.NEXTVAL, #{useridx}, #{teamIdx}, #{subject}, #{content}, SYSDATE, #{imageIdx}, 0)
	</insert>
	
	<!-- 댓글 -->
	<select id="getCommentsList" parameterType="String" resultType="Paging.CommentVO">
		SELECT T.*, S.NICKNAME FROM TEAM_COMMENTS T, SPORT_USER S
		WHERE S.USERIDX = T.USERIDX
		AND T.BBS_IDX = #{bbsIdx }
		ORDER BY COMMENT_IDX 
	</select>
	
	<insert id="insertComment" parameterType="Paging.CommentVO">
		INSERT INTO TEAM_COMMENTS (COMMENT_IDX, BBS_IDX, USERIDX, CONTENT, WRITE_DATE)
		VALUES (SEQ_TEAM_COMMENTS.NEXTVAL, #{bbsIdx }, #{useridx }, #{content },SYSDATE)
	</insert>
	
	<!-- 팀게시판-팀맴버 출력용 맴버 IDX리스트 얻기 -->
	<select id="getTeamMembers" parameterType="String" resultType="String">
		SELECT USERIDX FROM TEAM_MEMBER WHERE TEAM_IDX = #{teamIdx}
	</select>
	
	<!-- 팀신청서 리스트 -->
	<select id="getSignupList" parameterType="String" resultType="com.sports.model.vo.TeamSignupVO">
		SELECT T.*, S.* FROM TEAM_SIGNUP T,SPORT_USER S  WHERE T.USERIDX = S.USERIDX AND TEAM_IDX = #{teamIdx}
	</select>
	
	<!-- 가입신청서 VO얻기 -->
	<select id="getSignupVO" parameterType="String" resultType="com.sports.model.vo.TeamSignupVO">
		SELECT * FROM TEAM_SIGNUP WHERE SIGNUP_IDX = #{signupIdx}
	</select>
	
	<!-- 신청서 수락/거절 업데이트 -->
	<update id="updateTeamSignup" parameterType="com.sports.model.vo.TeamSignupVO">
		UPDATE TEAM_SIGNUP 
		SET SIGNUP_CHECK = #{signupCheck}
		WHERE TEAM_IDX = #{teamIdx}
		AND SIGNUP_CHECK = 'u'
		AND USERIDX = #{useridx}
	</update>
</mapper>














