.menu {
  width: 80%; 
  padding: 10px;
  height: 60px; 
}

.nav-link {
  font-weight: bold;
  color: white;
  font-size: 28px;
  line-height: 60px;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
}

.navbar-nav .nav-item {
  text-align: center;
  margin: 0 30px; /* 메뉴 아이템 사이간격*/
}

.navbar-nav .nav-item .nav-link {
  padding: 20px;
}

#menuCollapse a {
  color: white;
 
}

.logo-img {
  height: 70px; 
   margin: 0 auto;
   
}

.dropdown-menu {
  right: 0; 
  left: auto; 
}


